@(id:Long)(form:Form[Diretor])

@main("Diretor"){
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="@routes.Inicio.index()">Home</a></li>
            </ul>
        </div>
    </div>
    @helper.form(action = routes.DiretorCRUD.alterar(id), 'class -> "form-horizontal"){
        <fieldset>
            @helper.inputText(form("nome"), '_label -> "Nome:", 'size -> 45,'placeholder -> "informe o nome do diretor")
        </fieldset>
        <div class="control-group">
            <div class="actions">
                <input type="submit" value="Gravar" class="btn btn-primary"/>
                <a href="@routes.DiretorCRUD.lista" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
    }

    @helper.form(routes.DiretorCRUD.remover(id)){
        <div class="control-group">
            <div class="actions">
                <input type="submit" value="Remover" class="btn btn-danger">
            </div>
        </div>
    }
}